# Kafka
KAFKA_BOOTSTRAP_SERVERS_INTERNAL=kafka:9092
KAFKA_BOOTSTRAP_SERVERS_EXTERNAL=localhost:29092

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ENDPOINT_INTERNAL=http://minio:9000
MINIO_ENDPOINT_EXTERNAL=http://localhost:9000

# OpenWeatherMap
OWM_API_KEY=your_key_here

# Trino
TRINO_HOST=localhost
TRINO_PORT=8080